﻿

<div class="section section-header-blog">
    <div class="parallax filter filter-color-black">
        @*<div class="image" style="
                     background-image:       url('https://images.unsplash.com/photo-1449247613801-ab06418e2861?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bb80a15068b7e5da425b33750319daaa')">
            </div>*@
        @*<div class="image" style="background-image: url('https://apps.kmbi.org.ph/dtr/leaveAttachment/ctracing.jpg');">*@


        <div class="container">

            <div class="content">

               
                <p>RISK COMMITTEE</p>
                <div>
                    
                    <a class="btn btn-fill btn-warning btn-lg" asp-action="Index" asp-controller="QRCode">Generate QR Code</a>
                    <a class="btn btn-fill btn-success btn-lg" asp-action="ID" asp-controller="Digital">Digital ID</a>
                </div>
            </div>
        </div>
    </div>
    @*<a href="" data-scroll="true" data-id="#firstSection" class="scroll-arrow hidden-xs hidden-sm">
            <i class="fa fa-angle-down"></i>
        </a>*@
    
</div>
<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">

        <div class="copyright">
            ©
            <script>document.write(new Date().getFullYear())</script> KMBI - RISK COMMITTEE
        </div>
    </div>
</footer>

