body {
    font-family: "Open Sans", sans-serif;
    position: relative;
    height: 100%;
}
h3 {
  margin: 0;
}
table,
th,
td {
  border: 1px solid black;
  width: inherit;
}
th,
td {
  text-align: left !important;
  border-radius: 4px;
}
footer {
  line-height: 1;
  background: black;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}
footer a {
  color: #fff;
}

.value {
  margin-top: 6px;
  font-weight: 400;
  text-align: center;
}

#bg-front {
  text-align: center;
}
#bg-front img {
  position: relative;
  width: 340px
}
#bg-front .wrapper {
  position: relative;
  display: inline-block;
}
    #bg-front .wrapper canvas {
        position: absolute;
        bottom: 0px;
        right: 93px;
        /*right: 130px;*/
        width: 254px !important;
        height: 385px;
    }
#bg-front .wrapper h3 {
  margin: 0;
  font-weight: 800;
  color: #404f5c;
  font-size: 25px;
}
#bg-front .wrapper .nickname {
  position: absolute;
  left: -125px;
  top: -205px;
}
    #bg-front .wrapper .qrcode img {
        position: absolute;
        left: -123px;
        /*left: -130px;*/
        top: -110px;
        width: 120px !important;
        height: 110px;
    }

#bg-back {
  width: 305px;
  height: 495px;
  padding: 14px;
  border: 5px solid gray;
}
.pres {
  text-align: center;
}
    .pres .detail {
        margin: 0 0 12px;
    }

pres .detail .sig {
    width: 100%;
    position: relative;
}

.pres .detail .sig img {
    width: 150px;
    margin-bottom: -5px;
    margin-top: -15px;
}

.columns {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0;
}

.left-div {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
  vertical-align: top;
}

.right-div {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
}

.left-text,
.right-text {
  text-align: center;
}
.left-div {
    position: relative;
    display: inline-block;
}
    .left-div .watermark {
        margin: 0;
        position: absolute;
        /*top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/
        font-weight: 600;
        opacity: 0.5;
        z-index: 9;
        bottom:22%;
        left:50%
    }
.right-div {
    position: relative;
    display: inline-block;
}
    .right-div .watermark {
        margin: 0;
        position: absolute;
        top: 63%;
        left: 10%;
        /*-ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/
        font-weight: 600;
        opacity: 0.3;
    }
@media screen and (max-width: 800px) {
  .left-div,
  .right-div {
    max-width: 100%;
    box-sizing: border-box;
  }
    .left-text,
    .right-text {
        width: 100%;
        text-align: center;
    }

    .left-div .watermark {
        margin: 0;
        position: absolute;
        /*top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);*/
        font-weight: 600;
        opacity: 0.5;
        z-index: 9;
        bottom: 25%;
        left: 55%
    }
  #bg-front img {
    width: 100%;
  }

    #bg-front .wrapper .nickname {
        /*left: 45px;
    top: -200px;*/
        left: 52px;
        top: -240px;
    }

    #bg-front .wrapper .qrcode img {
        /*left: 30px;*/
        left: 64px;
        top: -130px;
    }

    #bg-front .wrapper canvas {
        bottom: 20px;
        /*bottom: 18px;*/
        /*right: -75px;*/
        right: -50px;
        width: 235px !important;
        height: 350px;
    }

  #bg-back {
    /*width: 284px;*/
    height: 495px;
    padding: 14px;
  }

  small {
    font-size: 11px !important;
  }

  .columns {
    padding-right: 0;
    padding-left: 0;
  }

}
