﻿
@model users

<div class="section section-white section-signup">
    <div class="">
        @*<div class="image"
             style="background-image: url('../../wwwroot/img/header-4.jpeg')">
        </div>*@
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="text-white">Employee Details</h2>
                    @*<h4>KMBI Contact Tracing App</h4>*@
                    <div class="separator separator-danger">✻</div>
                    @*<p class="description">Please provide all information.</p>*@
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <img src="@Model.picture" class="rounded" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>@Model.employeeCode</label><br />
                                <label>@Model.name.last, @Model.name.first @Model.name.middle</label><br />
                                <label><small>@Model.employment.position, @Model.employment.department</small></label><br />
                                <label><span class="label label-warning">@Model.employment.status</span></label>
                                <hr />
                                <label>@Model.dateHired.ToString("MMMM dd, yyyy")</label><br />
                                <label><small><i>(Date Hired)</i></small></label>



                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</div>