﻿
@using System.Web;
@model LoginViewModel

@{
    var returnUrl = @Context.Request.Query["returnurl"];
}

<div class="section section-signin">


    <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">

            <div class="title-area" style="text-align:center">
                <h2>Sign In</h2>
                <h4>DIGITAL IDENTIFICATION CARD</h4>
                <div class="separator separator-danger">✻</div>
            </div>

            <form class="register-form" asp-action="SignIn" asp-controller="Account" asp-route-returnurl="@returnUrl">
                <label><h4 class="text-gray">Your email</h4></label>
                <div class="form-group">
                    <input type="email" asp-for="email" name="email" value="" placeholder="abc123@kmbi.org.ph" class="form-control form-control-plain">
                </div>
                
                <span asp-validation-for="email" class="label label-warning"></span>

                <label><h4 class="text-gray">Your password</h4></label>
                <div class="form-group">
                    <input type="password" asp-for="password" name="password" value="" placeholder="●●●●" class="form-control form-control-plain">
                </div>
                <span asp-validation-for="password" class="label label-warning"></span>
                <br />
                @Html.ValidationMessage("Error")

                <br />

                <button class="btn btn-danger btn-round btn-fill btn-wd">
                    Sign In
                </button>
            </form>
            

            <div class="footer">
                
                @*<p class="text-gray info">Don't have an account? <a asp-action="SignUp" asp-controller="Account">Sign up</a></p>*@
            </div>
        </div>
    </div>
</div>