﻿
@inject iUserManager UserManager;
@using digitalId.Models;

@*@model Byte[];*@
@model mModel;
@{
    Layout = null;
    ViewData["Title"] = "Digital ID";

    var slug = UserManager.GetCurrentUser(this.Context).slug.ToString();
    var empCode = UserManager.GetCurrentUser(this.Context).employeeCode.ToString();

    var extension = "";
    var bType = "";
    if (UserManager.GetCurrentUser(this.Context).extension != null)
    {
        extension = UserManager.GetCurrentUser(this.Context).extension.ToString();
    }

    if (UserManager.GetCurrentUser(this.Context).bloodType != null)
    {
        bType = UserManager.GetCurrentUser(this.Context).bloodType.ToString();
    }

    var name = UserManager.GetCurrentUser(this.Context).name.last.ToString() + ", " + UserManager.GetCurrentUser(this.Context).name.first.ToString() + " " + extension + " " + UserManager.GetCurrentUser(this.Context).name.middle.ToString();
    var nickname = UserManager.GetCurrentUser(this.Context).nickname.ToString();
    var picture = UserManager.GetCurrentUser(this.Context).picture.ToString();

    var empNo = UserManager.GetCurrentUser(this.Context).employeeCode.ToString();
    var dateHired = UserManager.GetCurrentUser(this.Context).dateHired.Date.AddDays(1).ToString("MMM dd, yyyy");

    //var dateHired = UserManager.GetCurrentUser(this.Context).dateHired.ToString();

    var contactPerson = "";
    var contactNo = "";
    var contactAddress = "";
    if (UserManager.GetCurrentUser(this.Context).emergencyContactPersons.FirstOrDefault() != null)
    {
        if (UserManager.GetCurrentUser(this.Context).emergencyContactPersons.FirstOrDefault().contactNumber != null)
        {
            contactNo = UserManager.GetCurrentUser(this.Context).emergencyContactPersons.FirstOrDefault().contactNumber.ToString();
        }
        if (UserManager.GetCurrentUser(this.Context).emergencyContactPersons.FirstOrDefault().address != null)
        {
            contactAddress = UserManager.GetCurrentUser(this.Context).emergencyContactPersons.FirstOrDefault().address.ToString();
        }
        if (UserManager.GetCurrentUser(this.Context).emergencyContactPersons.FirstOrDefault().contactPerson != null)
        {
            contactPerson = UserManager.GetCurrentUser(this.Context).emergencyContactPersons.FirstOrDefault().contactPerson.ToString();
        }
       


    }

    else {
        contactPerson = "";
        contactNo = "";
        contactAddress = "";
    }

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Layout with QR Code</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://www.marvinj.org/releases/marvinj-1.0.js"></script>

    <style>
        
    </style>
</head>
<body>

    <img id="testImage" hidden src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.empPict))" />



    <div class="columns">
        <div class="alert alert-danger" role="alert">
            <strong><i class="fa fa-warning"></i> WARNING!</strong> <marquee direction="left"><small>THIS IS A DIGITAL ID. PRINTING IS NOT ALLOWED.</small></marquee>
        </div>
        

        <div class="left-div left-text">
            <div class="watermark">
                <small>THIS IS A DIGITAL ID. <br/>PRINTING IS NOT ALLOWED.</small>
            </div>
            <div id="bg-front">
                <img src="../assets/img/bg.png" alt="no image">

                <div class="wrapper">
                    <canvas id="canvas" width="300" height="220"></canvas>
                    @*<img id="testImage" src="@picture" alt="no image">*@
                    <h3 class="nickname">@nickname</h3>
                    <div class="qrcode">
                        @{
                            if (Model != null)
                            {
                                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.qrCode))" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="right-div right-text">
            <div id="bg-back">
                <div class="watermark">
                    <small>THIS IS A DIGITAL ID. PRINTING IS NOT ALLOWED.</small>
                </div>
                <table style="border: 0;">
                    <tr>
                        <th colspan="3">
                            EMPLOYEE NAME: <br>
                            <div class="value">@name</div>
                        </th>
                    </tr>
                    @*<tr>
                <th colspan="3">
                    SIGNATURE: <br>
                    <div class="value"></div>
                </th>
            </tr>*@
                    <tr>
                        <td>
                            <small>EMPLOYEE NO:</small> <br>
                            <div class="value">@empCode</div>
                        </td>
                        <td>
                            <small>DATE HIRED:</small> <br>
                            <div class="value">@dateHired</div>
                        </td>
                        <td>
                            <small>BLOOD TYPE:</small> <br>
                            <div class="value">@bType</div>
                        </td>
                    </tr>
                </table>
                <small style="padding: 0px 26px; font-size: 12px;">IN CASE OF EMERGENCY, PLASE NOTIFY</small>
                <table style="border: 0;">
                    <tr>
                        <th colspan="3">
                            Name: <br>
                            <div class="value">@contactPerson</div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            Telephone number: <br>
                            <div class="value">@contactNo</div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            Address: <br>
                            <div class="value">@contactAddress</div>
                        </th>
                    </tr>
                </table><br>
                <div class="pres">
                    <div class="detail">
                        <div class="sig">
                            <img src="../assets/img/ECJ-E-SIG.jpg" alt="">
                        </div>
                        <h3>EDUARDO C. JIMENEZ</h3>
                        <small style="font-size: 12px;"><i>PRESIDENT</i></small>
                    </div>
                </div>
                <footer>
                    <small style="font-size: 12px;">
                        <i>
                            Kabalikat para sa Maunlad na Buhay Inc. <br>
                            (A Microfinance NGO) <br>
                            12 San Francisco Street, Karuhatan, Valenzuela City <br>
                            Tel: 291-1484 to 86 <br>
                            <a href="http://www.kmbi.org.ph">http://www.kmbi.org.ph</a>
                        </i>
                    </small>
                </footer>
            </div>
        </div>

        <div class="alert alert-danger" role="alert">
            <strong><i class="fa fa-warning"></i> WARNING!</strong> <marquee direction="right"><small>THIS IS A DIGITAL ID. PRINTING IS NOT ALLOWED.</small></marquee>
        </div>
    </div>


    <hr />
    <div style="text-align:center">
        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-fill btn-success">
                Logout
            </a>
        </form>
    </div>
    <hr />

    <script>
        var canvas = document.getElementById("canvas");
        image = new MarvinImage();
        image1 = document.getElementById("testImage");

        /**/
        image.load(image1.src, imageLoaded);


        function imageLoaded() {
            whiteToAlpha(image);
            //Marvin.alphaBoundary(image.clone(), image, 8);
            //Marvin.scale(image.clone(), image, 400);
            image.draw(canvas);
        }

        function whiteToAlpha(image) {
            for (var y = 0; y < image.getHeight(); y++) {

                for (var x = 0; x < image.getWidth(); x++) {
                    var r = image.getIntComponent0(x, y);
                    var g = image.getIntComponent1(x, y);
                    var b = image.getIntComponent2(x, y);

                    if (r >= 250 && g >= 250 && b >= 250) {
                        image.setIntColor(x, y, 0);
                    }
                }
            }
        }


    </script>
</body>
</html>